// [ripple] .ripple--container span {
//   -webkit-transform: scale(0);
//           transform: scale(0);
//   border-radius: 100%;
//   position: absolute;
//   opacity: 0.75;
//   background-color: rgba(0, 0, 0, 0.1);
//   -webkit-animation: ripple 1000ms;
//           animation: ripple 1000ms;
// }
